fastapi

uvicorn

python-dotenv

openai

langchain

langchain-community

langchain-openai

chromadb

sentence-transformers

transformers

torch

networkx

pandas

numpy

bert-score

evaluate

huggingface_hub

requests

pydantic

python-multipart